{% extends "loginbase.html" %}
{% block content %}
    <div class="customlogin">
        <h3>Password Recovery</h3><br/>
        <input type="text" name="username" class="cl-input" id="inputusername" placeholder="Username" size="30"/><br>
        <input type="text" name="username" class="cl-input" id="inputsecurityanswer" placeholder="Type in security answer" size="30"/><br>
        <div class="btn btn-primary custompasswordbtn" href="#" id="btnGetPassword">
          Get Password
        </div>
        <div class="btn btn-primary custompasswordbtn" href="#" id="btnGetSecurityQuestion">
          Get Security Question
        </div>
        <a href="/login">
		      <div class="btn btn-primary custompasswordbtn" href="#" id="btnCancel">
            Cancel
          </div>
        </a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
	  <script src="/static/js/forgotpassword.js"></script>
{% endblock %}