{% extends "base.html" %}
{% block content %}
    <div class="customline">
        <h1>News Investigator</h1><br/>
        <input type="text" name="source" class="custominput" id="inputsource" pattern="www\.[a-zA-Z0-9]{3,}\.[a-z]{2,3}" placeholder="Example: www.aljazeera.com" size="50"/>
        <div class="btn btn-primary custombtn" href="#" id="btnAddSource">
          Add Source
        </div>
        <button type="button" href="#collapse1" id="show-sources" class="btn btn-primary">Show Sources</button>
        <div id="collapse1" style="display:none">
        <div class="getsources"></div>
        </div>
        <input type="text" name="deletesource" class="custominput" id="deletesource" placeholder="Ex: www.aljazeera.com" size="30"/>
        <div class="btn btn-primary custombtn" href="#" id="btnDeleteSource">
          Delete Source
        </div><br/><br/>
        <input type="text" name="keyword" class="custominput" id="inputkeyword" pattern="[a-zA-Z0-9]+" placeholder="Example: Israel" size="50"/>
        <div class="btn btn-primary custombtn" href="#" id="btnAddKeyword">
          Add Keyword
        </div>
        <button type="button" href="#collapse2" id="show-keywords" class="btn btn-primary">Show Keywords</button>
        <div id="collapse2" style="display:none">
        <div class="getkeywords"></div>
        </div>
        <input type="text" name="deletekeyword" class="custominput" id="deletekeyword" placeholder="Ex: Israel" size="30"/>
        <div class="btn btn-primary custombtn" href="#" id="btnDeleteKeyword">
          Delete Keyword
        </div>
        <div></div><br>
        <a href="/table" class="btn btn-success" id="btnTableSources"><span class="glyphicon glyphicon-align-justify"></span> View Sources Table</a>
    </div>
{% endblock %}
