{% extends "base.html" %}
{% block content %}
    <div class="customLogin">
        <h2>Login</h2><br/>
        <input type="text" name="username" class="custominput" id="inputusername" placeholder="Username" size="30"/><br>
        <input type="password" name="password" class="custominput" id="inputpassword" placeholder="Password" size="30"/><br>

        <div class="btn btn-primary custombtn loginbtn" href="#" id="btnLogin">
          Login
        </div>
        <a href="/forgotpassword">
        <div class="btn btn-primary custombtn loginbtn" href="#" id="btnForgotPassword">
          Forgot my password
        </div>
      </a>
        <div></div>
        <a href="/signup">
        <div class="btn btn-primary custombtn loginbtn" href="#" id="btnSignUp">
          Don't have an account? Sign up!
        </div>
      </a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
	  <script src="/static/js/login.js"></script>
{% endblock %}
