{% extends "loginbase.html" %}
{% block content %}
    <div class="customlogin">
        <h2><b>Sign Up</b></h2><br/>
        <input type="text" name="source" class="signupinput" id="inputusername" placeholder="Username" size="40"/><br>
        <input type="password" name="source" class="signupinput" id="inputpassword" placeholder="Password" size="40"/><br>
        <input type="password" name="source" class="signupinput" id="inputpassword2" placeholder="Confirm Password" size="40"/><br>
        <input type="text" name="source" class="signupinput" id="inputsecurityquestion" placeholder="Security Question" size="40"/><br>
        <input type="text" name="source" class="signupinput" id="inputsecurityanswer" placeholder="Security Question Answer" size="40"/><br>
        <div></div>
        <div class="btn btn-primary btnlogin" href="#" id="btnCreateAccount">
          Create my account
        </div>
        <a href="/login">
        <div class="btn btn-primary btnlogin" href="#" id="btnCancel">
          Cancel
        </div>
        </a>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
	  <script src="/static/js/signup.js"></script>
{% endblock %}
