{% extends "base.html" %}
{% block content %}

<h1>Web Crawl Results</h1>
<div class="results-table-container">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Export Table Data <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a id="btnExportTableXML" href="#">As XML</a></li>
      </ul>
    </div>
    <div class="btn btn-primary custombtn" href="#" id="btnArticlesGraph">
          View Articles Graph
    </div>

    <table id="results-table"></table>
</div>
<script>
    quotes_id = 0;
    hyperlinks_id = 0;
    
    function showQuotes(id) {
        $('.quotes_' + id).toggle(function(){
            if($(this).css('display')=='none'){
              //change the button label to be 'Show'
              $(this).closest('td').find('a').html('Show Quotes');
            }else{
              //change the button label to be 'Hide'
              $(this).closest('td').find('a').html('Hide Quotes');
            }
        });
    }
    
    function showHyperlinks(id) {
        $('.hyperlinks_' + id).toggle(function(){
            if($(this).css('display')=='none'){
              //change the button label to be 'Show'
              $(this).closest('td').find('a').html('Show Hyperlinks');
            }else{
              //change the button label to be 'Hide'
              $(this).closest('td').find('a').html('Hide Hyperlinks');
            }
        });
    }
    
    function graphFormatter(value){
      return "<button type=\"button\" href=\"#\" id=\"graph\" class=\"btn btn-primary\">Show Graph</button>";
    }

    function linkFormatter(value) {
        return "<a href='" + value + "'>Link to Article</a>";
    }
    
    function hyperlinksFormatter(value) {
        if (value != '') {
            hyperlinks_id++;
            return "<a href='#' onClick='showHyperlinks(" + hyperlinks_id + ");return false;'>Show Hyperlinks</a><div style='display:none;' class='hyperlinks_" + hyperlinks_id + "'>" + value + "</div>";
        } else {
            return 'None found';
        }
    }
    
    function quotesFormatter(value) {
        if (value != '') {
            quotes_id++;
            return "<a href='#' onClick='showQuotes(" + quotes_id + ");return false;'>Show Quotes</a><div style='display:none;' class='quotes_" + quotes_id + "'>" + value + "</div>";
        } else {
            return 'None found';
        }
    }

    // Generate the results table using Bootstrap Table
    $(function () {
        $('#results-table').bootstrapTable({
            method: 'get',
            url: '/get_results',
            cache: false,
            height: 1000,
            striped: true,
            pagination: true,
            pageSize: 50,
            pageList: [10, 25, 50, 100, 200],
            search: true,
            showColumns: true,
            showRefresh: true,
            minimumCountColumns: 2,
            clickToSelect: true,
            columns: [{
                field: 'date_crawled',
                title: 'Date Crawled',
                align: 'center',
                valign: 'middle',
                sortable: true
            }, {
                field: 'title',
                title: 'Article Title',
                align: 'center',
                valign: 'middle',
                sortable: true
            }, {
                field: 'link',
                title: 'Article Link',
                align: 'center',
                valign: 'middle',
                sortable: true,
                formatter: 'linkFormatter'
            }, {
                field: 'date',
                title: 'Article Date',
                align: 'center',
                valign: 'middle',
                sortable: true
            }, {
                field: 'hyperlinks',
                title: 'Hyperlinks',
                align: 'center',
                valign: 'middle',
                formatter: 'hyperlinksFormatter'
            }, {
                field: 'quotes',
                title: 'Quotes',
                align: 'center',
                valign: 'middle',
                formatter: 'quotesFormatter'
            },  {
                field: 'graph',
                title: 'Graph',
                align: 'center',
                valign: 'middle',
                formatter: 'graphFormatter'
            }]
        });
        $("#btnExportTableXML").click(function () {
            $('#results-table').tableExport({type:'xml',escape:'false'});
        });
    });

</script>
{% endblock %}
