{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>News Investigator</h1><br/>

        <table data-toggle="table" data-url="/static/js/data1.json" data-height="399" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1">
          <thead>
          <tr>
              <th data-field="title" data-align="center">Title</th>
              <th data-field="link" data-align="center">Link</th>
              <th data-field="hyperlink" data-align="center">Hyperlink</th>
              <th data-field="quote" data-align="center">Quotes</th>
              <th data-field="mention" data-align="center">Mentions</th>
          </tr>
          </thead>
      </table>
      <div></div><br>
      <a href="/index" class="btn btn-primary custombtn" href="#" id="btnReturnIndex">
          Back to main page
      </a>
    </div>
{% endblock %}