.custombtn{
    margin-left: 5px;
}

.btnlogin{
    margin-top: 10px;
    margin-left: 5px;
}

.btn-success{
    margin-left: 20px;
}

.customline{
    margin-left: 10px;
    float: left;
}

.customlogin h2{
    margin-left: 60px;
    float: left;
}

.customlogin{
    margin-left: 500px;
    float: left;
}

.custominput{
    margin-left: 20px;
    float:left;
    clear:both;
    margin-right: 10px;
    margin-top: 3px;
}

.logininput{
    margin-left: 5px;
    float:left;
    clear:both;
    margin-right: 10px;
    margin-top: 3px;
    height: 35px;
}

.signupinput{
    margin-left: 5px;
    float:left;
    clear:both;
    margin-right: 10px;
    margin-top: 3px;
    height:40px;
    font-size:12pt;
}

.loginbtn{
    margin-top: 10px;
    margin-left: 10px;
}

.customcancel{
    margin-left: 255px;
    margin-top: 3px;
}

.custompasswordbtn{
    margin-left: 5px;
    margin-top: 3px;
}

.getsources{
	margin-top: 10px;
}

.getkeywords{
	margin-top: 10px;
}

.results-table-container{
    margin-left: 20px;
    margin-right: 20px;
}

.keywords-container{
    margin-top: 10px
}

#show-sources, #show-keywords {
    margin-left: 20px;
}